@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap);



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --dark-green: #024d3a;
  --dark-green-2: rgba(2, 77, 58, 0.707);
  --dark-green-3: rgba(8, 245, 186, 0.185);
  --dark-green-4: rgba(186, 243, 229, 0.973);
  --black: #18191f;
  --black-2: rgba(24, 25, 31, 0.659);
  --orange: #f88508;
  --gray: rgba(111, 109, 109, 0.035);
  --wine: #8a2a3c;
  --right: url('../assets/mockups/bg3\ 1.png');
}

body {
  font-family: 'Josefin Sans', sans-serif;
}